.parallax {
    background-image: url("../../../assets/parallax5.jpg");
    width: 70%;
    height: 500px;
    margin: 100px auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
@media(max-width:480px) {
    .parallax {
        height: 200px;
        background-size: 150%; /* Увеличиваем размер изображения для маленьких экранов */
        background-position: center center;
    }
}