.show {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 8vw 0;
    background-color: #FAF5F2;
}
.block {
    width: 70%;
    height: 30vw;
    margin: 0 auto;
    display: flex;
}

.blockText {
    width: 50%;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blockText div {
    width: 100%;
}
.blockText div h2 {
    font-size:3vw;
    text-align: center;
    margin-bottom: 2vw;
}

.imgs {
    position: relative;
}
.img1 {
    width: 250px;
    height: 250px;
    position: absolute;
    border: 5px solid white;
    top: 100px;
}
.img2 {
    width: 300px;
    height: 200px;
    position: absolute;
    border: 5px solid white;
    top: 150px;
    left: 400px;
}
.img3 {
    width: 300px;
    height: 200px;
    position: absolute;
    border: 5px solid white;
    top: 300px;
    left: 200px;
}

@media (max-width:1024px) {
    .show{
        height: 90vh;
    }
    .block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .blockText {
        display: block;
        margin: 50px auto;
        text-align: center;
    }
    .blockText div h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 2vw;
    }
    
    .blockText div {
        width: 100%;
    }
    .show {
        display: block;
    }
    .imgs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .img1 {
        top: 0;
        left: 15%;
        order: 1;
    }
    .img3 {
        top: 150px;
        left: 35%;
        order: 1;
    }
    .img2 {
        top: 10px;
        left: 55%;
    }
}

@media (max-width:768px) {
    .show {
        height: auto;
    }
    .imgs {
        position: static;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img1 {
        width: 60vw;
        height: auto;
        position: static;
    }
    .img2, .img3{
        width: 60vw;
        height: auto;
        position: static;
    }
    .blockText  {
        width: 80vw;
    }
}
@media(max-width:480px) {
    .blockText {
        width: 90%;
        padding: 0;
    }
    .img1 {
        width: 90vw;
        height: auto;
        position: static;
    }
    .img2, .img3{
        width: 90vw;
        height: auto;
        position: static;
    }
}
